
@{ 
    ViewBag.Title = "درباره ما بیشتر بدانید، درباره ما، با ما آشنا شوید";
}
@section metaTags{
    <meta name="description" content="اطلاع از آخرین اخبار و نمونه سوالات استخدامی و نرم افزار های استخدامی، درباه ما، تماس با ما">
    <meta name="keywords" content="اخبار استخدامی،نرم افزار های استخدامی، سنجش استخدامی،استخدام،نمونه سوالات استخدامی، نمونه سوال،EPT،آخرین اخبار استخدامی">
    <link rel="canonical" href="/Home/About" />
}
<div style="margin-bottom:200px"></div>
<div class="page-content">
    <div class="container">
        <!-- .row start -->
        <div class="row">
            <a title="درباره ما" href="/Home/About">
                <h1 class="alert alert-danger text-center">درباره ما</h1>
            </a>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="team-member text-center">
                    <figure>
                        <img src="~/wwwroot/img/no-image/555x333.png" class="img-responsive" alt="Fariborz Ahmadi">

                        <figcaption class="text-right">
                            <div class="custom-heading style-1">
                                <h6 class="member-name">دکتر احمدی</h6>
                                <p class="member-position">بنیانگذار شرکت</p>
                            </div>

                            <p class="member-about">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                        </figcaption>
                    </figure>
                </div><!-- .team-member end -->
            </div><!-- .col-md-6 end -->
        </div>
    </div>
</div>
