
@{
    ViewBag.Title = "خطا در عملیات";
}
@section metaTags{
    <meta name="keywords" content="اخبار استخدامی،نرم افزار های استخدامی، سنجش استخدامی،استخدام،نمونه سوالات استخدامی، نمونه سوال،EPT،آخرین اخبار استخدامی">
}
<h2 class="alert alert-danger text-center">خطا</h2>
<div class="mb-200"></div>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="alert text-center">
                <p class="text-danger">متاسفانه خطایی هنگام عملیات رخ داده است</p>
                <p class="text-warning">کد خطا: 444</p>
                <p>می توانید به<a href="/Home/Contact" title="پشتیبانی" class="text-primary"> پشتیبانی </a> اطلاع دهید</p>
            </div>
        </div>
    </div>
</div>

<div class="mb-200"></div>