
@{
    Layout = "~/Views/Shared/_Default_Layout.cshtml";
    ViewBag.Title = "مدیریت";
}

<h2 class="text-center text-success">مدیر محترم خوش آمدید</h2>

<div class="row">

    <div class="col-md-6 content-hover">
        <h2 class="text-center text-danger">مدیریت اپلیکیشن</h2>
        <p class="text-center">
            در این قسمت به مدیریت اپلیکیشن هااز جمله حذف و اضافه و به روز رسانی پرداخته می شود
        </p>
        <p class="text-center"><a class="btn btn-primary" href="/AppManager/Index">مدیریت اپلیکیشن &raquo;</a></p>
    </div>
    <div class="col-md-6 content-hover">
        <h2 class="text-center text-danger">مدیریت خصوصیات اپلیکیشن</h2>
        <p class="text-center">
            در این قسمت می توانید لیستی از خصوصیات را ساخته و آن ها را به اپلیکیشن ها نسبت دهید
        </p>
        <p class="text-center"><a class="btn btn-primary" href="/FeatureManager/Index">مدیریت خصوصیات اپلیکیشن &raquo;</a></p>
    </div>
    <div class="col-md-6 content-hover">
        <h2 class="text-center text-danger"> مدیریت اخبار استخدامی</h2>
        <p class="text-center">
            در این قسمت می توانید خبر های مربوط به استخدامی را ایجاد و یا حذف نمایید
        </p>
        <p class="text-center"><a class="btn btn-primary" href="/NewsManager/Index"> مدیریت اخبار استخدامی &raquo;</a></p>
    </div>
    <div class="col-md-6 content-hover">
        <h2 class="text-center text-danger">مدیریت نمونه سوالات استخدامی</h2>
        <p class="text-center">
            در این قسمت می توانید سوالات استخدامی را اضافه یا حذف نمایید
        </p>
        <p class="text-center"><a class="btn btn-primary" href="/QuestionManager/Index">مدیریت نمونه سوالات استخدامی &raquo;</a></p>
    </div>
    <div class="col-md-6 content-hover">
        <h2 class="text-center text-danger">لیست دانلود کنندگان سوالات</h2>
        <p class="text-center">
            در این قسمت می توانید مشخصات افرادی که سوالات مختلف را دانلود کرده اند مشاهده کنید
        </p>
        <p class="text-center"><a class="btn btn-primary" href="/CustomerManager/Index">لیست دانلود کنندگان سوالات &raquo;</a></p>
    </div>
    <div class="col-md-6 content-hover">
        <h2 class="text-center text-danger">مدیریت EPT</h2>
        <p class="text-center">
            در این قسمت می توانید به مدیریت اپلیکیشن و نمونه سوالات EPT بپردازید
        </p>
        <p class="text-center">
            <a class="btn btn-primary" href="/EPTManager/QList">لیست سوالات &raquo;</a>
            <a class="btn btn-primary" href="/EPTManager/Index">مدیریت اپلیکیشن &raquo;</a>
        </p>
    </div>
</div>